{{define "todomvc"}}
<html lang="en">
<head>
    <meta charset="UTF-8" content="application/x-www-form-urlencoded">
    <title>todomvc</title>
</head>
<body>
<h1>这是一个主页</h1>
新增一个任务:<a href="http://localhost:8080/todomvc/addTask">🟦</a><br><br>
删除一个任务:<a href="http://localhost:8080/todomvc/deleteTask">🟦</a><br><br>
查询全部任务:<a href="http://localhost:8080/todomvc/queryAllTask">🟦</a><br><br>
按关键词查找:<a href="http://localhost:8080/todomvc/selectTask">🟦</a><br><br>
标记任务状态:<a href="http://localhost:8080/todomvc/signTask">🟦</a><br>
</body>
</html>
{{end}}